article {
    font-family: "Helvetica Neue," Helvetica, Arial, sans-serif;
    width: 600px;
    margin: 50px auto 0 auto;
}

h1 {
    font-weight: normal;
    margin: 30px 0 0 0;
}

section {
    margin: 20px 0 0;
    padding: 20px 0 10px 0;
    border-top: 1px solid #ddd;
}

h2 {
    float: left;
    width: 180px;
    font-size: 16px;
    margin: 0;
}

.input {
    margin-left: 20px;
}

.action {
    background: whitesmoke;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}